body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*TODO--------------HEADER--------------------*/

.page-header {
}

.page-header-navigation {
}

.page-header-navigation-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-header-navigation-logo-dark-blue {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2e2f42;
  text-transform: uppercase;
}

.page-header-navigation-list {
}

.page-header-navigation-item {
}

.page-header-navigation-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.page-header-navigation-link:hover,
.page-header-navigation-link:focus {
  color: #404bbf;
}

.page-header-contacts {
  font-style: normal;
}

.page-header-contacts-list {
}

.page-header-contacts-item {
}

.page-header-contacts-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.page-header-contacts-link:hover,
.page-header-contacts-link:focus {
  color: #404bbf;
}

/*TODO----------------------------------*/

/*TODO---------------HERO-------------------*/
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*TODO----------------------------------*/

/*TODO---------------FEATURES-------------------*/
.features {
  background-color: #ffffff;
}

.features-title {
  text-transform: capitalize;
}

.features-list {
}

.features-item {
  background-color: #ffffff;
}

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

/*TODO----------------------------------*/

/*TODO---------------TEAM-------------------*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
}

.team-item {
  background-color: #ffffff;
}

.team-img {
}

.team-item-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*TODO----------------------------------*/

/*TODO---------------PORTFOLIO-------------------*/
.portfolio {
}

.potfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.potfolio-list {
}

.potfolio-item {
}

.potfolio-item-img {
}

.potfolio-item-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.potfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

/*TODO----------------------------------*/

/*TODO---------------FOOTER-------------------*/
.page-footer {
  background-color: #2e2f42;
}

.page-footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  text-transform: uppercase;
}

.page-footer-logo-white {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #f4f4fd;
}

.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}

/*TODO----------------------------------*/
